interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-10-23T16:01:47Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"eventHubEndpoints": {"events": {"retentionTimeInDays":
      1, "partitionCount": 4}}, "storageEndpoints": {"$default": {"sasTtlAsIso8601":
      "PT1H", "connectionString": "", "containerName": ""}}, "messagingEndpoints":
      {"fileNotifications": {"ttlAsIso8601": "PT1H", "maxDeliveryCount": 10}}, "enableFileUploadNotifications":
      false, "cloudToDevice": {"maxDeliveryCount": 10, "defaultTtlAsIso8601": "PT1H",
      "feedback": {"lockDurationAsIso8601": "PT5S", "ttlAsIso8601": "PT1H", "maxDeliveryCount":
      10}}}, "sku": {"name": "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003?api-version=2020-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003","name":"iot000003","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"clitest.rg000001","properties":{"state":"Activating","provisioningState":"Accepted","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":4}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfODI0ZTMwYjMtNzQzYi00ZTY3LWI3ODctYTIzZDhkNGYzM2Mx?api-version=2020-03-01&operationSource=os_ih&asyncinfo
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfODI0ZTMwYjMtNzQzYi00ZTY3LWI3ODctYTIzZDhkNGYzM2Mx?api-version=2020-03-01&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003?api-version=2020-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003","name":"iot000003","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"clitest.rg000001","etag":"AAAAA9cAr7U=","properties":{"locations":[{"location":"West
        US","role":"primary"},{"location":"East US","role":"secondary"}],"state":"Active","provisioningState":"Succeeded","ipFilterRules":[],"hostName":"iot000003.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"iot000003","endpoint":"sb://iothub-ns-iotcheqksj-5457328-e6c3a75bfb.servicebus.windows.net/"}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[]},"routes":[],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1},"identity":{"type":"None"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "dps000002"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/checkProvisioningServiceNameAvailability?api-version=2018-01-22
  response:
    body:
      string: '{"nameAvailable":true,"reason":"Invalid","message":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "tags": {"a": "b", "c": "d"}, "properties": {},
      "sku": {"name": "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002?api-version=2018-01-22
  response:
    body:
      string: '{"name":"dps000002","location":"westus","properties":{"state":"Activating","provisioningState":"Accepted","allocationPolicy":"Hashed","idScope":null},"resourcegroup":"clitest.rg000001","type":"Microsoft.Devices/provisioningServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002","subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","tags":{"a":"b","c":"d"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfNDVhZGM2ZjEtZDg5Yy00NTE2LWE3ODctOGNiMjVhNDgwMTE5?api-version=2018-01-22&asyncinfo
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfNDVhZGM2ZjEtZDg5Yy00NTE2LWE3ODctOGNiMjVhNDgwMTE5?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002?api-version=2018-01-22
  response:
    body:
      string: '{"etag":"AAAAAAUzYTU=","name":"dps000002","location":"westus","properties":{"state":"Active","provisioningState":"Succeeded","iotHubs":[],"allocationPolicy":"Hashed","serviceOperationsHostName":"dps000002.azure-devices-provisioning.net","deviceProvisioningHostName":"global.azure-devices-provisioning.net","idScope":"0ne001AD769"},"resourcegroup":"clitest.rg000001","type":"Microsoft.Devices/provisioningServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002","subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","tags":{"a":"b","c":"d"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices?api-version=2018-01-22
  response:
    body:
      string: '{"value":[{"etag":"AAAAAAUzYTU=","name":"dps000002","location":"westus","properties":{"state":"Active","provisioningState":"Succeeded","iotHubs":[],"allocationPolicy":"Hashed","serviceOperationsHostName":"dps000002.azure-devices-provisioning.net","deviceProvisioningHostName":"global.azure-devices-provisioning.net","idScope":"0ne001AD769"},"resourcegroup":"clitest.rg000001","type":"Microsoft.Devices/provisioningServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002","subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","tags":{"a":"b","c":"d"},"sku":{"name":"S1","tier":"Standard","capacity":1}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfNTIwMDRkOTItZTU2OS00OWY1LWEzNTgtZmFlNWZkZDI2Zjgy?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/listkeys?api-version=2018-01-22
  response:
    body:
      string: '{"value":[{"keyName":"provisioningserviceowner","primaryKey":"KihDxbt6Fl95NTJb+Ci8vMVwHc+6ky4wq/upxTi1UI4=","secondaryKey":"JA6zhJNZmOkxENwdNBsp9CAl50X6RUVbH46PJWYYKb8=","rights":"ServiceConfig,
        DeviceConnect, EnrollmentWrite"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"iotHubs": [], "allocationPolicy":
      "GeoLatency", "authorizationPolicies": [{"keyName": "provisioningserviceowner",
      "primaryKey": "KihDxbt6Fl95NTJb+Ci8vMVwHc+6ky4wq/upxTi1UI4=", "secondaryKey":
      "JA6zhJNZmOkxENwdNBsp9CAl50X6RUVbH46PJWYYKb8=", "rights": "ServiceConfig, DeviceConnect,
      EnrollmentWrite"}, {"keyName": "policy000004", "rights": "EnrollmentRead"}]},
      "sku": {"name": "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfMzhiODJjNTQtODQyYy00MDMyLThmOWItZGE4ZWE0Yzk1NTEx?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/keys/policy000004/listkeys?api-version=2018-01-22
  response:
    body:
      string: '{"keyName":"policy000004","primaryKey":"8rH/lxOSwO4Lc35GQV9Zq0BChu4Q9DEQE1+/ibROrQU=","secondaryKey":"307WV7bNMHs30oOw1vQbQAElIO/RZEOjjWaGx9+GLRs=","rights":"EnrollmentRead"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfYzEzYzhjNzgtNDE1MS00MDk4LWE4NGUtOGE4NjM3YzEzMzBi?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfZjAzNjgzMjktNDcwMC00OTA2LWExYjUtOTI4OTA2YjllNTNm?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates?api-version=2018-01-22
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"certificate": "-----BEGIN CERTIFICATE-----\r\nMIIDHTCCAgWgAwIBAgIIVsZCXX9wcwUwDQYJKoZIhvcNAQELBQAwIzEhMB8GA1UE\r\nAwwYVEVTVENFUlRwNjVmYmNmb3hqNTVvb3RwMB4XDTIwMTAyMjE2MDcyOFoXDTIw\r\nMTAyNjE2MDcyOFowIzEhMB8GA1UEAwwYVEVTVENFUlRwNjVmYmNmb3hqNTVvb3Rw\r\nMIIBITANBgkqhkiG9w0BAQEFAAOCAQ4AMIIBCQKCAQA2Qt1LpXwCctIe+kZXZn1X\r\nfuPYAXxdYuGB6EJ4zQgqPpDGCVC8HCJce5C8WPmawrtlnsAekck9MfMBfaPTvLww\r\nerRMHll5te+xi15GpXPycStCqwXGBjywWqWmq9ySa9Xk5V+BcPlbR2WMd07aHBKQ\r\nOhGHNlElS1ISQTpVjimzhjlXnED3SVYrRKzRvPSsk9lANI8rod0q+WG5R35[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates?api-version=2018-01-22
  response:
    body:
      string: '{"value":[{"properties":{"subject":"TESTCERT000006","expiry":"Mon,
        26 Oct 2020 16:07:28 GMT","thumbprint":"3D264F5F038ED4E81C328B9380C6846824F16B66","isVerified":false,"created":"Fri,
        23 Oct 2020 16:07:29 GMT","updated":"Fri, 23 Oct 2020 16:07:29 GMT","certificate":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000005","name":"certificate000005","type":"Microsoft.Devices/provisioningServices/Certificates","etag":"AAAAAAUzYnc="}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"certificate": "-----BEGIN CERTIFICATE-----\r\nMIIDHTCCAgWgAwIBAgIIVsZCXX9wcwUwDQYJKoZIhvcNAQELBQAwIzEhMB8GA1UE\r\nAwwYVEVTVENFUlRwNjVmYmNmb3hqNTVvb3RwMB4XDTIwMTAyMjE2MDcyOFoXDTIw\r\nMTAyNjE2MDcyOFowIzEhMB8GA1UEAwwYVEVTVENFUlRwNjVmYmNmb3hqNTVvb3Rw\r\nMIIBITANBgkqhkiG9w0BAQEFAAOCAQ4AMIIBCQKCAQA2Qt1LpXwCctIe+kZXZn1X\r\nfuPYAXxdYuGB6EJ4zQgqPpDGCVC8HCJce5C8WPmawrtlnsAekck9MfMBfaPTvLww\r\nerRMHll5te+xi15GpXPycStCqwXGBjywWqWmq9ySa9Xk5V+BcPlbR2WMd07aHBKQ\r\nOhGHNlElS1ISQTpVjimzhjlXnED3SVYrRKzRvPSsk9lANI8rod0q+WG5R355I8w5\r\njU68iwaKpzV/poNmR1ENTNC7USeaNHOCzMcb5K5YOkMuu5OiRVJJhJD8uBu5CfJj\r\nrYa+z9wG3hZjlVTzu1oJD8MJZUPGpK6cU3f5jWViYaO41gruOmA6VSrvZzBeYiSZ\r\nAgMBAAGjVjBUMBIGA1UdEwEB/wQIMAYBAf8CAQEwHQYDVR0OBBYEFNo5o+5ea0sN\r\nMlW/75VgGJCv2AcJMB8GA1UdIwQYMBaAFNo5o+5ea0sNMlW/75VgGJCv2AcJMA0G\r\nCSqGSIb3DQEBCwUAA4IBAQAbyXYWLLNRZWklYBOFaYG/2lZT6jsiUsHAME8dOqYp\r\nMl96kksOpJUol9M8WWdwpmEo4uI2EEGtASL55TX9sRiUm2lRkheleVppORRDhnjE\r\n7dyY+LWYxFzX1WNfGjs3rfs/KNIaRjnWkXpK8QN71YxZqxkLvS13Tb1mNPaSnUzy\r\nJcG1i59795WWUbUL1xfz9uNw7+mRB1SYdlo9srCeQ10MYxMzNRcNiBR7HmxE23ip\r\nUziuoZ/S0nEp4l+NeU4g9OpNP/Lwpi6E1FWhEsxV6F+OLad05EKo8x7q7qhQF6jk\r\nFMJ+/IHsYPqDjKKqydtVuqOzd+fJN9ZPbJTa04uF79Zt\r\n-----END
      CERTIFICATE-----\r\n"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - AAAAAAUzYnc=
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000005?api-version=2018-01-22
  response:
    body:
      string: '{"properties":{"subject":"TESTCERT000006","expiry":"Mon, 26 Oct 2020
        16:07:28 GMT","thumbprint":"3D264F5F038ED4E81C328B9380C6846824F16B66","isVerified":false,"created":"Fri,
        23 Oct 2020 16:07:29 GMT","updated":"Fri, 23 Oct 2020 16:07:31 GMT","certificate":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000005","name":"certificate000005","type":"Microsoft.Devices/provisioningServices/Certificates","etag":"AAAAAAUzYn0="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - AAAAAAUzYn0=
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000005/generateVerificationCode?api-version=2018-01-22
  response:
    body:
      string: '{"properties":{"verificationCode":"71915E34F3EE6E40DBB17FB78401E7A4DAEDF10952C81D23","subject":"TESTCERT000006","expiry":"Mon,
        26 Oct 2020 16:07:28 GMT","thumbprint":"3D264F5F038ED4E81C328B9380C6846824F16B66","isVerified":false,"created":"Fri,
        23 Oct 2020 16:07:29 GMT","updated":"Fri, 23 Oct 2020 16:07:32 GMT","certificate":"MIIDHTCCAgWgAwIBAgIIVsZCXX9wcwUwDQYJKoZIhvcNAQELBQAwIzEhMB8GA1UEAwwYVEVTVENFUlRwNjVmYmNmb3hqNTVvb3RwMB4XDTIwMTAyMjE2MDcyOFoXDTIwMTAyNjE2MDcyOFowIzEhMB8GA1UEAwwYVEVTVENFUlRwNjVmYmNmb3hqNTVvb3R[...]
- request:
    body: '{"certificate": "-----BEGIN CERTIFICATE-----\r\nMIIDAjCCAeqgAwIBAgIIbulqtmXKibMwDQYJKoZIhvcNAQELBQAwIzEhMB8GA1UE\r\nAwwYVEVTVENFUlRwNjVmYmNmb3hqNTVvb3RwMB4XDTIwMTAyMjE2MDczMloXDTIw\r\nMTAyNjE2MDczMlowOzE5MDcGA1UEAwwwNzE5MTVFMzRGM0VFNkU0MERCQjE3RkI3\r\nODQwMUU3QTREQUVERjEwOTUyQzgxRDIzMIIBITANBgkqhkiG9w0BAQEFAAOCAQ4A\r\nMIIBCQKCAQA8M/zA/GraGCJsrNhKGj/phJQjUvcpAWLoXiXU1OsWY68a7ittWeps\r\nec1Os6XmumWoZSXQEj8ya/1CYCGgTNf1J9jgfVplL/LzT+A9JSqZdY5qUxvx1hu7\r\nluiYiZ7PXsdYcbkOPL7CHC[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/IotHubs?api-version=2020-03-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/TestCLI/providers/Microsoft.Devices/IotHubs/TestIotExt1","name":"TestIotExt1","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"a386d5ea-ea90-[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003/listkeys?api-version=2020-03-01
  response:
    body:
      string: '{"value":[{"keyName":"iothubowner","primaryKey":"/IJ9YaGG+IdN68JeeCOlgDeEXPWUe6Lky9xBwl4Hq1E=","secondaryKey":"44aKWUUyKKkhF/QSdLOEI6nsaQ0v0cwbiJxMh1MuOLw=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"LJlzxO6s3jGYz8G2sbcZREmA5x0aZSp2Bv3Ywfeb9GQ=","secondaryKey":"qgQuuGkRCiIDhdn82ZSn4sPN8RMKDyUPKdI1z91GEM4=","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"Mii6gY7lfATCFA2vq619im70Iw5n9ovFW/qCTcfKQr4=","secondaryKey":"eaFWtnOZgnynI/NW+9gsKdQFU0DOs4+XHtFnDCE93J4=","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"GXXFoe0bpRTZ+KvSFuyN6TS6e2uSy8AwbcLdEJedotE=","secondaryKey":"17k98KTjSECWzG46t7I5CcLeybiIhbQkZR1RSIowbwo=","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"Z9gF1a9F7PEueX3UtWHDKLdvSZpKj2ZRElKUJiBXf7c=","secondaryKey":"ywr+6gr3N07LNObt+cwRIsuDSzm6VGgVc439oH/yEqg=","rights":"RegistryWrite"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfMzBiOTk5NDItYTM2My00Yjc4LWJjMTctNzllZWExY2QxMTc0?api-version=2020-03-01&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003/IotHubKeys/iothubowner/listkeys?api-version=2020-03-01
  response:
    body:
      string: '{"keyName":"iothubowner","primaryKey":"/IJ9YaGG+IdN68JeeCOlgDeEXPWUe6Lky9xBwl4Hq1E=","secondaryKey":"44aKWUUyKKkhF/QSdLOEI6nsaQ0v0cwbiJxMh1MuOLw=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfMzYxYWM1Y2ItMmQ1My00ZjM0LThiZTktY2FlYTRiYTRhNzli?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"iotHubs": [{"applyAllocationPolicy":
      true, "allocationWeight": 10, "connectionString": "HostName=iot000003.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=****",
      "location": "westus"}], "allocationPolicy": "GeoLatency"}, "sku": {"name": "S1",
      "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002?api[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfNDMyZjkzM2UtZmMyOS00MzM2LTg1YjItM2ZiZTNlZmM0MmJh?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfYjRhODQxNjktMzgzZi00YzRhLWIzYWMtNGIxMjNiNmQyZGVm?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfYjczYjM4YmYtZmJmYS00MWJiLWI3ODUtM2M1Y2VhMTVhY2Vm?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
